/* basic rules */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


/* large query */
@media (min-width: 992px;){

}

/* medium query */
@media (min-width: 768px;) and (max-width: 991px;) {
	
}

/* small query */
@media (max-width: 767px;){

}