/* basic rules */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
h1{
  margin-bottom: 15px;
  font-size: 36px;
  text-align: center;
}
.row{
  width: 100%;
  background: #00ff00;
}
.chicken, .beef, .sushi{
    width: 33.33%;
    padding: 10px;
    border: 2px solid black;
    background: #fff;
    float: left;
    position: relative;
  }
  .tmp-clear{
  	clear: both;
  }
  .chicken>div{
  	background: red;
  	padding: 10px;
  	border: 2px solid black;
  }
  .beef>div{
  	background: red;
  	padding: 10px;
  	border: 2px solid black;
  }
  .sushi>div{
  	background: red;
  	padding: 10px;
  	border: 2px solid black;
  }
/*   .chicken>p{
  	width: 125px;
  	padding: 4px;
  	margin-bottom: 5px;
  	background-color: #d6ac82;
  	border: 1px solid black;
  	float: right;
  	text-align: center;
  	font-weight: bold;
  	position: relative;
  	top: -6px;
  	right: -6px;
  }
  .beef>p{
  	width: 125px;
  	padding: 4px;
  	margin-bottom: 5px;
  	background: #7dccab;
  	border: 1px solid black;
  	float: right;
  	text-align: center;
  	font-weight: bold;
  	position: relative;
  	top: -6px;
  	right: -6px;
  }
  .sushi>p{
  	width: 125px;
  	padding: 4px;
  	margin-bottom: 5px;
  	background: #e6e86e;
  	border: 1px solid black;
  	float: right;
  	font-weight: bold;
  	text-align: center;
  	position: relative;
  	top: -6px;
  	right: -6px;
  }
  article{
  	clear: both;
  } */

/* @media (min-width: 992px){
  .chicken, .beef, .sushi{
    width: 33.33%;
    border: 2px solid black;
    background: #b1b0b0;
    float: left;
    position: relative;
  }
  .tmp-clear{
  	clear: both;
  }
  .chicken>p{
  	width: 125px;
  	padding: 4px;
  	margin-bottom: 5px;
  	background-color: #d6ac82;
  	border: 1px solid black;
  	float: right;
  	text-align: center;
  	font-weight: bold;
  	position: relative;
  	top: -6px;
  	right: -6px;
  }
  .beef>p{
  	width: 125px;
  	padding: 4px;
  	margin-bottom: 5px;
  	background: #7dccab;
  	border: 1px solid black;
  	float: right;
  	text-align: center;
  	font-weight: bold;
  	position: relative;
  	top: -6px;
  	right: -6px;
  }
  .sushi>p{
  	width: 125px;
  	padding: 4px;
  	margin-bottom: 5px;
  	background: #e6e86e;
  	border: 1px solid black;
  	float: right;
  	font-weight: bold;
  	text-align: center;
  	position: relative;
  	top: -6px;
  	right: -6px;
  }
  article{
  	clear: both;
  }

} */

/* medium query */
/* @media (min-width: 768px) and (max-width: 991px) {
  .chicken, .beef{
    width: 50%;
    border: 2px solid black;
    background: #b1b0b0;
    float: left;
    position: relative;
  }
  .sushi{
    width: 100%;
    border: 2px solid black;
    background: #b1b0b0;
    float: left;
    position: relative;
  }
  .tmp-clear{
  	width: 100%;
  	clear: both;
  }
  .chicken>p{
  	width: 125px;
  	padding: 4px;
  	margin-bottom: 5px;
  	background-color: #d6ac82;
  	border: 1px solid black;
  	float: right;
  	text-align: center;
  	font-weight: bold;
  	position: relative;
  	top: -6px;
  	right: -6px;
  }
  .beef>p{
  	width: 125px;
  	padding: 4px;
  	margin-bottom: 5px;
  	background: #7dccab;
  	border: 1px solid black;
  	float: right;
  	text-align: center;
  	font-weight: bold;
  	position: relative;
  	top: -6px;
  	right: -6px;
  }
  .sushi>p{
  	width: 125px;
  	padding: 4px;
  	margin-bottom: 5px;
  	background: #e6e86e;
  	border: 1px solid black;
  	float: right;
  	font-weight: bold;
  	text-align: center;
  	position: relative;
  	top: -6px;
  	right: -6px;
  }
  article{
  	clear: both;
  }
	
} */

/* small query */
/* @media (max-width: 767px){
  .chicken, .beef, .sushi{
    width: 100%;
    border: 2px solid black;
    background: #b1b0b0;
    float: left;
    position: relative;
  }
  .tmp-clear{
  	clear: both;
  }
  .chicken>p{
  	width: 125px;
  	padding: 4px;
  	margin-bottom: 5px;
  	background-color: #d6ac82;
  	border: 1px solid black;
  	float: right;
  	text-align: center;
  	font-weight: bold;
  	position: relative;
  	top: -6px;
  	right: -6px;
  }
  .beef>p{
  	width: 125px;
  	padding: 4px;
  	margin-bottom: 5px;
  	background: #7dccab;
  	border: 1px solid black;
  	float: right;
  	text-align: center;
  	font-weight: bold;
  	position: relative;
  	top: -6px;
  	right: -6px;
  }
  .sushi>p{
  	width: 125px;
  	padding: 4px;
  	margin-bottom: 5px;
  	background: #e6e86e;
  	border: 1px solid black;
  	float: right;
  	font-weight: bold;
  	text-align: center;
  	position: relative;
  	top: -6px;
  	right: -6px;
  }
  article{
  	clear: both;
  }
	
} */