/* basic rules */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}
h1{
	margin-bottom: 15px;
	font-size: 36px;
	text-align: center;
}
.row{
	width: 100%;
	border: 3px solid black;
	background: #00ff00;
}
.chicken, .beef, .sushi{
	margin: 1px 10px;
	/* padding: 5px; */
	width: 31.8%;
	border: 2px solid black;
	background: #b1b0b0;
	float: left;
}
.tmp-clear{
	clear: both;
}
.chicken>p{
	background-color: #d6ac82;
	float: right;
}
.beef>p{
	background: #7dccab;
	float: right;
}
.sushi>p{
	background: #e6e86e;
	float: right;
}
article{
		clear: both;
}

/* large query */
/* @media (min-width: 992px;){

} */

/* medium query */
/* @media (min-width: 768px;) and (max-width: 991px;) {
	
} */

/* small query */
/* @media (max-width: 767px;){

} */